<div class="row">
  <div class="col-xs-8">
    <h1>Feeds</h1>
    <table class="table table-striped">
    <% for feed in @feeds %>
      <tr>
        <td><a href="show/<%= feed._id %>"><%= feed.title %></a></td>
        <td><%= feed.tags.pluck(:name).join(", ") if feed.tags %></td>
        <td>
          <a class = "btn btn-warning btn-xs" href="/edit/<%= feed._id %>"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class = "btn btn-danger btn-xs" href="/delete/<%= feed._id %>" method="delete"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-4">
    <h2 class="text-right">Add New</h2>
    <form role="form" action="/new" method="post">
      <div class="form-group">
        <input class="form-control" name="url" placeholder="Enter URL..." />
      </div>
      <div class="form-group">
        <input class="form-control" name="tags" placeholder="Enter tags (space-separated)..." />
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>

    <h2 class="text-right">Tags</h2>
    <ul>
    <% for name in @tag_names %>
      <li><a href="/tags/<%= name %>"><%= name %></a></li>
    <% end %>
    </ul>
  </div>
</div>
