  <h1><%= @feed.title %> <small><a href="<%= @feed.url %>"><%= @feed.url %></a></small></h1>

  <table class="table table-striped">
  <% for entry in @entries %>
    <tr>
      <td><a href="<%= entry.url %>"><%= entry.title %></a></td>
    </tr>
  <% end %>
  </table>
