<div class="row">
  <div class="col-xs-8">
    <h1>Headline</h1>
    <% if @headlines.length > 0 %>
      <% for headline in @headlines %>
        <h3><%= headline.tag_name %></h3>
        <p><a href="<%= headline.article_url %>"><%= headline.article_title %></a></p>
      <% end %>
    <% else %>
      <p>You don't have any headlines. Go to a tag's page and add it as a headline.</p>
    <% end %>
    <h1>Popular Feeds</h1>
    <table class="table table-striped">
    <% for feed in @popular_feeds %>
      <%= erb :feed_row_item, locals: { feed: feed } %>
    <% end %>
    </table>

    <h1>Recently Added Feeds</h1>
    <table class="table table-striped">
    <% for feed in @recent_feeds %>
      <%= erb :feed_row_item, locals: { feed: feed } %>
    <% end %>
    </table>

    <p><a href="/feeds" class="btn btn-info">View All</a></p>
  </div>

  <div class="col-xs-4">
    <h2 class="text-right">Add New</h2>
    <%= erb :new_feed_form %>

    <h2 class="text-right">Tags</h2>
    <%= erb :taglist, locals: {:tags => @tags } %>
  </div>
</div>
